.Section--weekly-selection {
    .weekly-container {
        padding-top: 80px;
        .weekly-header {
            text-align: center;
            color: #5c5c5c;
            .heading {
                font-size: 1em;
            }
            .option {
                line-height: 1.65;
                margin-top: 20px;

                .option-item {
                    display: inline-block;
                    font-size: 1.7em;
                    margin: 0 10px;
                    cursor: pointer;
                    position: relative;
                }
                .option-item::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: black;
                    transition: width 0.3s ease-in-out;
                }

                .option-active {
                    position: relative;
                }

                .option-active::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    transition: width 0.3s ease-in-out;
                }
            }
        }

        .weekly-selection {
            padding: 50px 0;

            .ws__Container {
                position: relative;
            }
          }
          
        .swp {
            width: 100%;
            height: 100%;
            top: 0;
            transition: all 1s ease;

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                // width: 62%;

                .item {
                    .img1 {
                        width: 100%;
                        position: relative;
                    }
                    
                    .img2 {
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                    }

                    .item-info {
                        padding-top: 10px;
                        text-align: left;
                        font-size: 14px;
                        line-height: 1.5;
                        color: rgb(110, 110, 110);

                        .heading {
                            color: rgb(168, 168, 168);
                        }
                    }
                }
            }
        }

        .swp5 {
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100px;
            transition: all 1s ease;
            
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                // width: 62%;

                .item {
                    .img1 {
                        width: 100%;
                        position: relative;
                    }
                    
                    .img2 {
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                    }

                    .item-info {
                        padding-top: 10px;
                        text-align: left;
                        font-size: 14px;
                        line-height: 1.5;
                        color: rgb(110, 110, 110);

                        .heading {
                            color: rgb(168, 168, 168);
                        }
                    }
                }
            }
        }

        

        .wkdisable {
            visibility: hidden;
            transition: all .3s ease;
            top: 100px;
            opacity: 0;
        }

        .wkenable {
            visibility: visible;
            top: 0;
            opacity: 1;
        }
            
        .swiper-slide .item:hover {
            .img1 {
                transition: 0.4s;
                opacity: 0;
                }
            .img2 {
                opacity: 1;
            }
        }

        .weekly-btn {
            text-align: center;

            .view-btn {
                margin-bottom: 20px;
                background-color: transparent;
                padding: 14px 28px;
                letter-spacing: 1px;
                border: 1px solid #d8d8d8;
                border-radius: 0px;
                text-decoration: none;
                color: white;
                position: relative;
            }
            
            a.view-btn::before {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: #5c5c5c;
                transform: scale(1,1);
                transform-origin: left center;
                z-index: -1;
                transition: transform .45s cubic-bezier(.785, .135, .15, .86);
            }
            a.view-btn:hover::before {
                transform: scale(0,1);
                transform-origin: right center;
            }
            a.view-btn:hover {
                color: #5c5c5c;
            }
        }
    }
}

@media (min-width: 768px) {
    .swp {
        .swiper-slide img {
            height: 48vh;
            background-size: cover;
        }
    }
    .swp5 {
        .swiper-slide img {
            height: 48vh;
            background-size: cover;
        }
    }

    .weekly-selection {
        margin: 0 110px;
    }
}

@media (min-width: 1024px) {
    .swp {
        .swiper-slide img {
            height: 26vh;
        }
    }
    .swp5 {
        .swiper-slide img {
            height: 26vh;
        }
    }

    .weekly-selection {
        margin: 0 120px;
    }
}

@media (min-width: 1140px) {
    .swp {
        // padding: 0 80px;
        
        .swiper-slide img {
            height: 25vh;
            background-size: cover;
        }
    }
    .swp5 {
        // padding: 0 80px;
        
        .swiper-slide img {
            height: 25vh;
            background-size: cover;
        }
    }

    .weekly-selection {
        margin: 0 90px;
    }
}
@media (min-width: 1200px) {
    .swp {
        .swiper-slide img {
            height: 40vh;
        }
    }
    .swp5 {
        .swiper-slide img {
            height: 40vh;
        }
    }
}
@media (min-width: 1500px) {
    .swp {
        .swiper-slide img {
            height: 40vh;
        }
    }
    .swp5 {
        .swiper-slide img {
            height: 40vh;
        }
    }
}
@media (min-width: 1900px) {
    .swp {
        .swiper-slide img {
            height: 60vh;
        }
    }
    .swp5 {
        .swiper-slide img {
            height: 60vh;
        }
    }
}